OPENAI_API_KEY=xxx

BRAVE_API_KEY=xxx
POLYGON_API_KEY=xxx

PUSHOVER_USER=xxx
PUSHOVER_TOKEN=xxx

# Feature Flags
USE_STRANDS_AGENTS=false

# Execution Configuration
RUN_EVERY_N_MINUTES=60
RUN_EVEN_WHEN_MARKET_IS_CLOSED=False
USE_MANY_MODELS=False
